body {
    background: url(/img/forestFondo.jpg);
    background-size: 100%;
    font-family: 'Grandstander', cursive;
}

h1 {
    color: #3F920D;
}

h2 {
    color: #59B820;
}

h3 {
    color: #96DE6A;
}

.slideContainer {
    width: 75%;
    margin-top: 75px;
}

.Barra {
    -webkit-appearance: none;
    width: 50%;
    height: 20px;
    background: linear-gradient(90deg, rgb(214, 214, 214), 100%, rgb(214, 214, 214) 0%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.25;
    transition: opacity 0.25;
    border-radius: 12px;
    box-shadow: 0px 1px 10 px 1px black;
}

.Barra:hover {
    opacity: 1;
}

.Barra::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.Barra::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

button {
    background-color: #EDF7E7;
    border: 5px solid #65CF25;
    color: #65CF25;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 12px;
}

button:hover {
    background-color: #65CF25;
    color: white;
    cursor: pointer;
}