body{
    background: url(../img/kk.png) center fixed;
    background-size: cover;
}

html{
    color: #fff;
}

.tabla{
    margin-left: 400px;
    margin-top: 50px;
}
/*Boton Regresar*/
.botonRegresar{
    background-image: url('../IMG/botonVolver.png');
    background-repeat:no-repeat;
    height:90px;
    width:90px;
    background-size: 100% 100%;
    background-position:center;
    margin: 0 auto;
    margin-left: 1400px;
    margin-bottom: 900px;
    position: absolute;
}

#btn_Regresar{
    height:90px;
    width:90px;
    border: none;
    background: none;
    z-index: 100;
}

.botonRegresar:hover,#btn_Regresar:hover{
    height:100px;
    width:100px;
}

.botonRedes{
    background-image: url('../IMG/botonVacio.png');
    background-repeat:no-repeat;
    height:90px;
    width:90px;
    background-size: 100% 100%;
    background-position:center;
    margin: 0 auto;
    margin-left: 1250px;
    margin-bottom: 900px;
    position: absolute;
}

#btn_Redes{
    height:90px;
    width:90px;
    border: none;
    background: none;
    z-index: 100;
}